/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* start variables */
:root {
    --main-color: #10cab7;
    --section-color: #f6f6f6;
    --second-color: #2c4755;
}
/* end variables */

/* Start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start Components*/
 .special-heading h3 {
    font-size: 100px;
    color: #ebeceb;
    letter-spacing: -3px;
    font-weight: 800;
}
.special-heading p {
    margin-top: -30px;
    font-size: 20px;
    color: #777;
}
.special-heading {
    text-align: center;
}
@media (max-width: 767px) {
    .special-heading h3 {
        font-size: 60px;
    }
    .special-heading p {
        margin-top: -20px;
    }
}
/* End Components*/

/* Start header */
header {
    padding: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    width: 60px;
}
header nav {
    position: relative;
}
header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 30px;
    height: 21px;
}
header ul {
    position: absolute;
    list-style: none;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    min-width: 200px;
    display: none;
    z-index: 1;
}
header ul::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    right: 5px;
    top: -20px;
}
header ul li a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
header ul li a:hover {
    padding-left: 25px;
}
header ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
header nav:hover ul{
    display: block;
}
/* end header */

/* start landing */
.landing {
    background-image: url(../images/landing.jpg);  
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    text-transform: capitalize;
    margin: 1em 0;
}
/* end landing */

/* start features */
.features {
    background-color: #f6f6f6;
    padding: 60px 0;
}
.features .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 20px;
}
.features .container .feat {
    text-align: center;  
    padding: 20px;
    flex: 1;
    min-width: 300px;
}
.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
    margin: 17px 0;
}
.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .container .feat i {
    color: var(--main-color);
}
/* end features */

/* start services */
.services {
    padding: 60px 0;
}
.services .services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .col {
    min-width: 300px;
    flex: 1;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px)
{
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text p {
    margin: 16px 0;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: '';
    position: absolute;
    background-color: var(--second-color);
    width: 90px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* end services */

/* start Portfolio */
.portfolio {
    background-color: var(--section-color);
    padding: 60px 0;
}
.portfolio .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    flex: 1;
    min-width: 300px;
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card h3 {
    padding: 20px 20px 0 20px;
}
.portfolio .portfolio-content .card p {
    margin-top: 16px;
    line-height: 1.6;
    padding: 0 20px 20px 20px;
    color: #777;
}
@media (min-width: 677px) and (max-width: 1200px) {
    .portfolio .portfolio-content .card:last-child {
        max-width: calc(50% - 13px);
    }
}
/* end Portfolio */

/* start about */
.about {
    padding-top: 60px;
    padding-bottom: 120px;
}
.about .about-content {
    margin-top: 100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 50px 250px;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    text-align: center;
}
.about .about-content .image::before {
    content: '';
    position: absolute;
    background-color: #ebeceb;
    width: 90px;
    height: calc(100% + 100px);
    left: -20px;
    top: -50px;
    z-index: -1;
}
.about .about-content .image::after {
    content: '';
    position: absolute;
    /* background-color: #24ca24; */
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    width: 120px;
    height: calc(100% - 65px);
    right: -150px;
    top: -50px;
    z-index: -1;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex: 1;
    min-width: 300px;
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    margin-top: 16px;
}
.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
    margin: 8px 0;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    margin: 16px 0;
}
@media (max-width: 991px) {
    .about .about-content {
        text-align: center;
        flex-direction: column;
    }
    .about .about-content .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }
}
/* end about */

/* start contact */
.contact {
    background: var(--section-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact .contact-content {
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.contact .contact-content .more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact .contact-content h3 {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    color: var(--second-color);
}
.contact .contact-content > a {
    font-weight: 800;
    font-size: 35px;
    text-decoration: none;
    color: var(--main-color);
}
.contact .contact-content .more-info p {
    text-transform: capitalize;
    font-size: 16px;
}
.contact .contact-content .more-info a {
    text-decoration: none;
    color: var(--second-color);
}
.contact .contact-content .more-info .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 767px) {
    .contact .contact-content h3 {
        font-size: 25px;
    }
    .contact .contact-content > a {
        font-size: 25px;
    }
}
/* end contact */

/* start footer */
footer {
    padding: 30px 0;
    background-color: var(--second-color);
}
footer .container {
    display: flex;
    align-content: center;
    justify-content: center;
}
footer .container p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
footer .container span {
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */
















